.cart-dropdown {
  width: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-header {
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
    justify-content: center;
    border-radius: 70px 0 70px;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: auto;
  }

  &.hidden {
    display: none;
  }
}
